@import './reset.scss';
@import './styles/variables/global.scss';
@import './styles/themes/normak.scss';
@import './styles/themes/dark.scss';

.app {
	font: var(--font-m);
	background: var(--bg-color);
	color: var(--primary-color);
	min-height: 100vh;
}
